<% provide(:title, t("static_pages.contact.title")) %>
<h1><%= t("contact.title")%></h1>
<p>
  <%= t("static_pages.contact.descrip1")%>
  <a href="http://www.railstutorial.org/contact"><%= t("static_pages.contact.link1")%></a>.
</p>
